{% extends "_layout.twig" %}

{% block title %}Latest News - The Leading Edge{% endblock %}
{% block description %}Stay updated with the latest happenings at The Leading Edge{% endblock %}
{% block pageCss %}news{% endblock %}
{% block pageJs %}news-js{% endblock %}
{% block pageClass %}news{% endblock %}

{% block content %}
<div class="news-page">
    {# Page Header #}
    {% include '_components/sections/page-header.twig' %}

    <section class="news-content">
        <div class="container">
            {% include '_components/sections/featured-news-item.twig' %}
            {% include '_components/sections/news-grid.twig' %}
        </div>
    </section>

</div>
{% endblock %}
