{% extends "_layout.twig" %}

{% block title %}Our Salon - The Leading Edge{% endblock %}
{% block description %}Founded in 2010, The Leading Edge was born from a passion for creating a salon experience that blends luxurious comfort with exceptional skill.{% endblock %}
{% block pageCss %}salon{% endblock %}
{% block pageJs %}salon-js{% endblock %}
{% block pageClass %}our-salon{% endblock %}

{% block content %}
<div class="our-salon-page">
    {% include '_components/ui/page-header.twig' %}
    {% include '_components/sections/about-story.twig' %}
    {% include '_components/sections/simple-cards.twig' with {
        cardVariant: 'light'
    } %}
    {% include '_components/sections/summary-section.twig' %}
    {% if entry.callToAction.sectionTitle %}
    {% include '_components/sections/call-to-action.twig' %}
    {% endif %}</div>
{% endblock %}
