{% extends "_layout.twig" %}

{% block title %}Meet Our Team - The Leading Edge{% endblock %}
{% block description %}The heart and soul of The Leading Edge – our talented professionals dedicated to your beauty journey{% endblock %}
{% block pageCss %}team{% endblock %}
{% block pageJs %}team-js{% endblock %}
{% block pageClass %}team{% endblock %}

{% block content %}
<div class="team-page">
    {% include '_components/sections/simple-cards.twig' with { 
        backgroundVariant: 'pale-blue',
        cardVariant: 'white'
    } %}
    {% include '_components/sections/team-grid.twig' %}
    {% include '_components/sections/simple-cards.twig' %}
    {% include '_components/sections/call-to-action.twig' %}
</div>
{% endblock %}
