    <section class="about-section">
        <div class="container">
            <div class="about-content">
                <div class="about-image">
                    <img src="{{ entry.cb_introSection.introPhoto.one().url() }}" alt="{{ entry.cb_introSection.introPhoto.one().title }}">
                </div>
                
                <div class="about-text">
                    {{ entry.cb_introSection.introText }}
                </div>
            </div>
        </div>
    </section>
